<template>
	<div id="blog-page">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item" aria-current="page">
					<router-link to="/">Home</router-link>
				</li>
				<li class="breadcrumb-item active" aria-current="page">
					<router-link to="/">{{ blog.title }}</router-link>
				</li>
			</ol>
		</nav>

		<div class="container-fluid">
			<h2 class="text-center">Heading</h2>
			<div id="blog">
				<div id="banner-image" :style="{ backgroundImage: `url(${blog.images.banner_image_url})` }">
				</div>
				<div id="blog-body">
					<div id="description">
						<p v-html="blog.body"></p>
					</div>
					<div id="other-images">
						<div class="col" v-for="(image, index) in blog.images.other_images_url" :key="index">
							<img :src="image" class="img-fluid">
						</div>
					</div>
				</div>
			</div>

			<top-products-component></top-products-component>
		</div>
	</div>
</template>

<script>
	import TopProductsComponent from "../components/TopProductsComponent";

	export default {
		name: "Blog",
		components: {TopProductsComponent},
		data() {
			return {
				'blogId': this.$route.params.blogId,
				'blog': {
					'title': '',
					'body': '',
					'images': {
						'banner_image_url': '',
						'other_images_url': []
					}
				}
			}
		},
		created() {
			this.fetchBlog();
		},
		mounted() {
			window.$('.nav-item').removeClass('active');
			window.$('#blogs-nav').addClass('active');
		},
		methods: {
			fetchBlog() {
				this.$axiosCall('blogs/' + this.blogId).then((response) => {
					this.blog = response.data;
				});
			}
		}
	}
</script>

<style scoped>
	#blog {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: 20rem auto;
		grid-gap: 5rem;
	}
	#blog-body {
		display: grid;
		grid-template-columns: 65% 30%;
		grid-template-rows: repeat(1, auto);
		grid-gap: 5%;
	}

	#banner-image {
		height: 20rem;
		background-position: center;
		background-repeat: no-repeat;
	}

	#other-images {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(4, auto);
		grid-gap: 10px;
	}

</style>