<template>
	<div id="products-page">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item" aria-current="page">
					<router-link to="/">Home</router-link>
				</li>
				<li class="breadcrumb-item active" aria-current="page">
					<router-link to="/">{{ category.name }}</router-link>
				</li>
			</ol>
		</nav>
		<div class="container-fluid">
			<div class="item-list">
				<div class="card item-list-card" v-for="(product, index) in products" :key="index">
					<product-component :product="product" :showProps="true"></product-component>
				</div>
			</div>
			<top-products-component></top-products-component>
		</div>
	</div>
</template>

<script>
	import ProductComponent from "../components/ProductComponent";
	import TopProductsComponent from "../components/TopProductsComponent";

	export default {
		name: "Category",
		components: {ProductComponent, TopProductsComponent},
		data() {
			return {
				'categoryId': this.$route.params.categoryId,
				'category': {},
				'products': {},
			};
		},
		created() {
			this.fetchCategory();
			this.fetchProducts();
		},
		mounted() {
			window.$('.nav-item').removeClass('active');
			window.$('#categories-nav').addClass('active');
		},
		methods: {
			fetchCategory() {
				this.$axiosCall('categories/' + this.categoryId).then((response) => {
					this.category = response.data;
				});
			},
			fetchProducts(page = 1) {
				this.$axiosCall('categories/' + this.categoryId + '/products?page=' + page).then((response) => {
					this.products = response.data;
				});
			}
		}
	}
</script>