<template>
	<div id="home-page">
		<carousel-component></carousel-component>
		<div class="container-fluid">
			<top-products-component></top-products-component>
			<top-blogs-component></top-blogs-component>
		</div>
	</div>
</template>

<script>
	// @ is an alias to /src
	import CarouselComponent from "../components/CarouselComponent";
	import TopProductsComponent from "../components/TopProductsComponent";
	import TopBlogsComponent from "../components/TopBlogsComponent";

	export default {
		name: "Home",
		components: {CarouselComponent, TopProductsComponent, TopBlogsComponent}
	};
</script>

<style>
	.heading {
		padding-top: 3rem;
		padding-bottom: 1rem;
	}
</style>