<template>
	<div id="product-details-page">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item" aria-current="page">
					<router-link to="/">Home</router-link>
				</li>
				<li class="breadcrumb-item active" aria-current="page">
					<router-link to="/">{{ product.category.name }}</router-link>
				</li>
				<li class="breadcrumb-item active" aria-current="page">
					<router-link to="/">{{ product.name }}</router-link>
				</li>
			</ol>
		</nav>

		<div class="container-fluid">
			<div id="product">
				<div id="product-images">
					<div id="banner-image">
						<!-- <img :src="bannerImage" class="img-fluid"> -->
						<zoom-on-hover :img-normal="bannerImage" :scale="1.5"></zoom-on-hover>
					</div>
					<div id="other-images" v-if="currentVariant && Object.prototype.hasOwnProperty.call(currentVariant,'media') && currentVariant.media.length">
						<div class="col">
							<img :src="product.banner_image_url" class="img-fluid" @click="changeBannerImage(product.banner_image_url)">
						</div>
						<div class="col" v-for="(image, index) in currentVariant.media" :key="index">
							<img :src="image.url" class="img-fluid" @click="changeBannerImage(image.url)">
						</div>
					</div>
				</div>
				<div id="product-props">
					<div class="item-name">
						<h3> {{product.name}} </h3>
					</div>
					<div id="item-description">
						<p>{{ product.description }}</p>
					</div>
					<div id="item-props">
						<p class="text-capitalize" v-for="(prop, index) in properties.otherProperties" :key="index">
							<strong>{{ index | displayPropName}}: </strong> {{ prop }}
						</p>
						<p class="text-capitalize" v-for="(prop, index) in properties.priceProperties" :key="index">
							<strong>{{ index | displayPropName}}: </strong> &#x20B9; {{ prop }}
							<span v-if="index === 'discounted_price' && discountPercentage > 0.00" id="discount-label"> ({{discountPercentage}}% Off)</span>
						</p>
					</div>
					<div id="buy-options">
						<div id="buy-at">
							<strong>Buy At:</strong>
						</div>
						<div class="redirect-link" id="buy-buttons">
							<buy-option-component></buy-option-component>
						</div>
					</div>
				</div>
			</div>

			<top-products-component></top-products-component>
		</div>
	</div>
</template>

<script>
	import BuyOptionComponent from "../components/BuyOptionComponent";
	import TopProductsComponent from "../components/TopProductsComponent";

	export default {
		name: "Product",
		components: {BuyOptionComponent, TopProductsComponent},
		data() {
			return {
				'productId': this.$route.params.productId,
				'product': {
					'name': '',
					'category': {
						'name': ''
					},
					'variants': []
				},
				bannerImage: null,
				discountPercentage: 0
			}
		},
		created() {
			this.fetchProduct();
		},
		mounted() {
			window.$('.nav-item').removeClass('active');
			window.$('#products-nav').addClass('active');
		},
		computed: {
			currentVariant() {
				let variant = null;
				if (this.$route.params.variantId) {
					for(let v of this.product.variants) {
						if(v._id === this.$route.params.variantId) {
							variant = v;
							break;
						}
					}
				} else if (this.product.variants.length) {
					variant = this.product.variants[0];
				}
				return variant;
			},

			properties() {
				let properties = {
					'otherProperties': {},
					'priceProperties': {}
				};
				if (this.currentVariant) {
					let productProperties = Object.keys(this.currentVariant).filter(x => !window.VARIANT_DEFAULT_PROPERTIES.includes(x));
					let otherProperties = productProperties.filter(x => !window.VARIANT_DEFAULT_PRICE_PROPERTIES.includes(x));
					let priceProperties = productProperties.filter(x => window.VARIANT_DEFAULT_PRICE_PROPERTIES.includes(x));
					for (let prop of otherProperties) {
						properties.otherProperties[prop] = this.currentVariant[prop];
					}
					for (let prop of priceProperties) {
						properties.priceProperties[prop] = this.currentVariant[prop];
					}
				}
				return properties;
			}
		},
		methods: {
			fetchProduct() {
				this.$axiosCall('products/' + this.productId).then((response) => {
					this.product = response.data;
					this.changeBannerImage(this.product.banner_image_url);
					this.calculateDiscountPercentage();
				});
			},

			changeBannerImage(bannerImage) {
				this.bannerImage = bannerImage;
			},

			calculateDiscountPercentage() {
				let prices = this.properties.priceProperties;
				this.discountPercentage = parseFloat(((prices.price - prices.discounted_price) * 100) / prices.price).toFixed(2);
			}

		}
	}
</script>

<style scoped>
	#product {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(1, 1fr);
		grid-gap: 100px;
	}

	#product-images {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(2, auto);
		grid-gap: 30px;
	}

	#banner-image {
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(1, auto);
	}

	#other-images {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(1, auto);
		grid-gap: 10px;
	}

	#product-props {
		line-height: 2;
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(4, auto);
	}

	#buy-options {
		display: grid;
		grid-template-columns: 12% 44% 44%;
		grid-template-rows: repeat(1, auto);
		grid-gap: 10px;
	}

	#buy-at {
		grid-column: 1;
		grid-row: 1;
	}

	#buy-buttons {
		grid-column: 2/3;
		grid-row: 1;
	}

	#buy-buttons div {
		margin-top: -5%;
	}

	#discount-label {
		color: red;
		font-size: small;
	}

	@media (max-width: 480px) {
		#product {
			display: grid;
			grid-template-columns: repeat(1, 1fr);
			grid-template-rows: repeat(1, 1fr);
			grid-gap: 30px;
		}

		#other-images {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: repeat(1, auto);
			grid-gap: 3px;
		}

		#product-props {
			grid-template-columns: repeat(1, 1fr);
			grid-template-rows: repeat(4, auto);
		}

		#buy-options {
			display: grid;
			grid-template-columns: 20% 40% 40%;
			grid-template-rows: repeat(1, auto);
		}

		#buy-buttons div {
			margin-top: -2%;
		}
	}

	@media (min-width: 481px) AND (max-width: 768px) {
		#product {
			display: grid;
			grid-template-columns: repeat(1, 1fr);
			grid-template-rows: repeat(1, 1fr);
			grid-gap: 30px;
		}

		#other-images {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: repeat(1, auto);
			grid-gap: 3px;
		}

		#product-props {
			grid-template-columns: repeat(1, 1fr);
			grid-template-rows: repeat(4, auto);
		}

		#buy-options {
			display: grid;
			grid-template-columns: 12% 44% 44%;
			grid-template-rows: repeat(1, auto);
		}

		#buy-buttons div {
			margin-top: -7%;
		}
	}

	@media (min-width: 769px) AND (max-width: 1069px) {
		#buy-options {
			display: grid;
			grid-template-columns: 18% 41% 41%;
			grid-template-rows: repeat(1, auto);
		}

		#buy-buttons div {
			margin-top: -3%;
		}
	}
</style>