<template>
	<router-link :to="'/blogs/' + blog._id" class="redirect-link">
		<img class="card-img-top img-fluid blog-image" :src="blog.images.banner_image_url" alt="Card image cap">
		<div class="card-body">
			<h5 class="card-title item-name">{{blog.title}}</h5>
			<p class="card-text">{{blog.body}}</p>
		</div>
	</router-link>
</template>

<script>
	export default {
		name: "BlogComponent",
		props: ['blog']
	}
</script>

<style scoped>
	.blog-image {
		height: 15rem;
		padding: 1rem;
	}
	@media (max-width: 576px) {
		.blog-image {
			height: 15rem;
			padding: 1rem;
		}
	}
	@media (min-width: 577px) AND (max-width: 768px) {
		.blog-image {
			height: 25rem;
			padding: 1rem;
		}
	}
</style>