<template>
	<div class="d-flex justify-content-around">
		<router-link to="/"><img src="/img/flipkart-logo.png" class="flipkart-img img-fluid"></router-link>
		<router-link to="/"><img src="/img/amazon-logo.png" class="amazon-img img-fluid"></router-link>
	</div>
</template>

<script>
	export default {
		name: "BuyOptionComponent"
	}
</script>


<style scoped>
	.flipkart-img {
		height: 100%;
		width: 70%;
	}
	.amazon-img {
		height: 80%;
		width: 100%;
		margin-top: 0.4rem;
	}
</style>