<template>
	<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="2000">
		<ol class="carousel-indicators">
			<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
			<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
			<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
		</ol>
		<div class="carousel-inner">
			<div class="carousel-item" :class="{'active': index === 0}" v-for="(product, index) in products" :key="index">
				<router-link to="/">
					<img :src="product.banner_image_url" class="d-block w-100 slider-image img-fluid" alt="">
					<div class="carousel-caption d-none d-md-block">
						<h5>{{product.name}}</h5>
						<!--<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>-->
					</div>
				</router-link>
			</div>
		</div>
		<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
</template>

<script>
	import {store} from "../store";

	export default {
		name: "CarouselComponent",
		computed: {
			products() {
				return store.getters.getProducts;
			}
		}
	}
</script>

<style scoped>
	.slider-image {
		height: 25rem;
	}
</style>