<template>
	<div>
		<footer class="footer pt-5">
			<div class="container-fluid">
				<div class="row text-center text-white footer-div">
					<div class="col">
						<h3>Address</h3>
						<p>C-157</p>
						<p>Sector 49</p>
						<p>Noida</p>
					</div>
					<div class="col">
						<h3>Categories</h3>
						<p v-for="(category, index) in categories" :key="index">
							<router-link :to="'/categories/' + category._id + '/products'" class="footer-links">
								{{category.name}}
							</router-link>
						</p>
					</div>
					<div class="col">
						<h3>Products</h3>
						<p v-for="(product, index) in products" :key="index">
							<router-link :to="'/products/' + product._id" class="footer-links">
								{{product.name}}
							</router-link>
						</p>
					</div>
					<div class="col">
						<h3>Follow us</h3>
						<p class="d-flex justify-content-center">
							<router-link to="/" class="footer-links">
								<i class="fab fa-instagram fa-2x"></i>
							</router-link>
							<router-link to="/" class="footer-links">
								<i class="fab fa-facebook-square fa-2x"></i>
							</router-link>
						</p>
					</div>
				</div>
				<div class="row footer-credits">
					<h5 class="pt-2">Copyright © DriAka . All Right Reserved.</h5>
				</div>
			</div>
		</footer>
	</div>
</template>

<script>
	import {store} from "../store";

	export default {
		name: "FooterComponent",
		computed: {
			categories() {
				return store.getters.getCategories;
			},
			products() {
				return store.getters.getProducts;
			}
		}
	}
</script>


<style>
	.footer-div {
		background-color: #007bff;
		padding: 1rem;
	}
	.footer-credits{
		background-color: #007fff;
	}
	.footer-links {
		color: white;
		padding: 1rem;
	}
	.footer-links:hover {
		color: white;
		text-decoration: none;
		text-underline: none;
	}
</style>