<template>
	<div class="container-fluid">
		<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
			<router-link class="navbar-brand" to="/">
				<img src="img/logo.png" width="30" height="30" class="d-inline-block align-top brand-image" alt="">
				DriAka
			</router-link>

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
					aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavDropdown">
				<ul class="navbar-nav">
					<li class="nav-item active">
						<router-link class="nav-link" to="/">Home <span class="sr-only">(current)</span></router-link>
					</li>
					<li class="nav-item dropdown" id="categories-nav">
						<router-link class="nav-link dropdown-toggle" to="/" id="categoryDropdownLink" role="button"
						   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Categories
						</router-link>
						<div class="dropdown-menu dropdown-items" aria-labelledby="categoryDropdownLink">
							<router-link class="dropdown-item" v-for="(category, index) in categories" :key="index" :to="'/categories/' +  category._id  + '/products'">
								{{ category.name}}
							</router-link>
						</div>
					</li>
					<li class="nav-item dropdown" id="products-nav">
						<router-link class="nav-link dropdown-toggle" to="/" id="productDropdownLink" role="button"
						   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Products
						</router-link>
						<div class="dropdown-menu dropdown-items" aria-labelledby="productDropdownLink">
							<router-link :to="'/products/' + product._id" class="dropdown-item" v-for="(product, index) in products" :key="index">
								{{ product.name}}
							</router-link>
						</div>
					</li>
					<li class="nav-item dropdown" id="blogs-nav">
						<router-link class="nav-link dropdown-toggle" to="/" id="blogDropdownLink" role="button"
						   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Blog
						</router-link>
						<div class="dropdown-menu dropdown-items" aria-labelledby="blogDropdownLink">
							<router-link :to="'/blogs/' + blog._id" class="dropdown-item" v-for="(blog, index) in blogs" :key="index">
								{{blog.title}}
							</router-link>
						</div>
					</li>
					<!--<li class="nav-item" id="contacts-nav">
						<router-link class="nav-link" to="/">Contact</router-link>
					</li>-->
				</ul>
			</div>
		</nav>
	</div>
</template>

<script>
	import {store} from "../store";

	export default {
		name: "HeaderComponent",
		computed: {
			categories() {
				return store.getters.getCategories;
			},
			products() {
				return store.getters.getProducts;
			},
			blogs() {
				return store.getters.getBlogs;
			},
		}
	}
</script>

<style>
	.dropdown-items {
		right: auto;
		left: auto !important;
	}
	.dropdown:hover>.dropdown-menu {
		display: block;
	}
	.dropdown>.dropdown-toggle:active {
		/*Without this, clicking will make it sticky*/
		pointer-events: none;
	}
	.brand-image {
		opacity: 1;
		background-color: wheat;
	}
</style>