<template>
	<div>
		<router-link :to="'/products/' + product._id" class="redirect-link">
			<img :src="product.banner_image_url" class="card-img-top product-img img-fluid" alt="product.name">
			<div class="card-body text-center">
				<h5 class="card-title product-props item-name">{{ product.name }}</h5>
				<!--<p class="card-text"></p>-->
			</div>
			<div v-if="showProps">
				<ul class="list-group list-group-flush text-capitalize">
					<li class="list-group-item product-props" v-for="(prop, index) in getProductProperties(product.variants)" :key="index"> <strong>{{ index | displayPropName}}: </strong> {{ prop }}</li>
				</ul>
			</div>
			<hr>
		</router-link>
		<div class="card-body">
			<buy-option-component></buy-option-component>
		</div>
	</div>
</template>

<script>
	import BuyOptionComponent from "../components/BuyOptionComponent";

	export default {
		name: "ProductComponent",
		components: {BuyOptionComponent},
		props: ['product', 'showProps'],
		methods: {
			getProductProperties(variants) {
				let properties = {};
				if (variants && variants !== undefined && variants.length) {
					let variant = variants[0];
					let otherProperties = Object.keys(variant).filter(x => !window.VARIANT_DEFAULT_PROPERTIES.includes(x));
					otherProperties = otherProperties.filter(x => !window.VARIANT_DEFAULT_PRICE_PROPERTIES.includes(x));
					let i =0;
					// Allow a max of two props to display
					for (let prop of otherProperties) {
						i++;
						properties[prop] = variant[prop];
						if(i == 2) {
							break;
						}
					}
				}
				return properties;
			}
		}
	}
</script>

<style scoped>
	.product-img {
		height: 15rem;
		padding: 1rem;
	}
	.product-props {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
</style>