<template>
	<div>
		<div class="heading">
			<h2 class="text-center font-weight-bold">From Our Blog</h2>
		</div>
		<div class="item-list">
			<div class="card item-list-card" v-for="(blog, index) in blogs" :key="index">
				<blog-component :blog="blog"></blog-component>
			</div>
		</div>
	</div>
</template>

<script>
	import {store} from "../store";
	import BlogComponent from "../components/BlogComponent";

	export default {
		name: "TopBlogsComponent",
		components: {BlogComponent},
		computed: {
			blogs () {
				return store.getters.getBlogs;
			}
		}
	}
</script>

<style scoped>

</style>