<template>
	<div>
		<div class="heading">
			<h2 class="text-center font-weight-bold">Top Products</h2>
		</div>
		<div class="item-list">
			<div class="card item-list-card" v-for="(product, index) in products" :key="index">
				<product-component :product="product" :showProps="false"></product-component>
			</div>
		</div>
	</div>
</template>

<script>
	import {store} from "../store";
	import ProductComponent from "./ProductComponent";

	export default {
		name: "TopProductsComponent",
		components: {ProductComponent},
		computed: {
			products() {
				return store.getters.getProducts;
			}
		}
	}
</script>

<style scoped>

</style>