.redirect-link {
    color: black;
}
.redirect-link:hover {
    color: black;
    text-decoration: none;
    text-underline: none;
}

.item-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 10px;
}

@media (max-width: 576px) {
    .item-list {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, auto);
    }
    .item-list-card {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, auto);
    }
}

@media (min-width: 577px) AND (max-width: 768px) {
    .item-list {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-gap: 10px;
    }
    .item-list-card {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-gap: 15px;
    }
}

.item-name {
    font-size: medium;
    font-weight: bolder;
}