<template>
	<div id="app" class="bg-light">
		<header-component></header-component>
		<div v-if="this.$route.name === 'Category'">
			<router-view :key="this.$route.params.categoryId" />
		</div>
		<div v-else-if="this.$route.name === 'Product'">
			<router-view :key="this.$route.params.productId" />
		</div>
		<div v-else-if="this.$route.name === 'Blog'">
			<router-view :key="this.$route.params.blogId" />
		</div>
		<div v-else>
			<router-view />
		</div>
		<footer-component></footer-component>
		<vue-progress-bar></vue-progress-bar>
	</div>
</template>

<script>
	import {store} from "./store";
	import HeaderComponent from "./components/HeaderComponent";
	import FooterComponent from "./components/FooterComponent";

	export default {
		name: "Layout",
		components: {FooterComponent, HeaderComponent},
		created() {
			this.fetchTopCategories();
			this.fetchTopProducts();
			this.fetchTopBlog();
		},
		data() {
			return {
				'categories': {},
				'products': {},
				'blog': {},
			};
		},
		methods: {
			fetchTopCategories () {
				this.$axiosCall('top-categories').then((response) => {
					this.categories = response.data;
					store.dispatch('setCategories', this.categories);
					localStorage.setItem("categories", JSON.stringify(this.categories));
				});
			},
			fetchTopProducts () {
				this.$axiosCall('top-products').then((response) => {
					this.products = response.data;
					store.dispatch('setProducts', this.products);
					localStorage.setItem("products", JSON.stringify(this.products));
				});
			},
			fetchTopBlog () {
				this.$axiosCall('top-blogs').then((response) => {
					this.blogs = response.data;
					store.dispatch('setBlogs', this.blogs);
					localStorage.setItem("blogs", JSON.stringify(this.blogs));
				});
			}
		}
	}
</script>

<style>
	#app {
		padding-top: 3rem;
	}
</style>